<ion-content padding>
    <div class="background-container">
        <img src="assets/imgs/logoblack.png">
    </div>

    <h3 margin-top margin-bottom>Are you a...</h3>

    <ion-list>
        <button class="selection-btn" ion-item *ngFor="let item of items" (click)="itemSelected(item)">
            {{ item }}
            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
    </ion-list>

    <div class="submit-container" text-center>
        <button ion-button class="submit-btn" (click)="goToDaysPlan()" color="light">Submit</button>
    </div>
</ion-content>