page-what-you-do {
    .submit-btn {
        width: 200px;
        background: #FBD125;
        color: #000;
    }

    .selection-btn {
        background: transparent;
    }

    .background-container {
        height: 200px;
        position: absolute;
        left: -56px;
        width: 182px;
        opacity: 0.05;
        top: -10px;

        img {
            width: 100%;
        }
    }

    button {
        border-radius: 4px !important;
    }
}