page-post-a-gig {
    .postgig-text {
        text-align: left;
    }

    .swiper-slide {
        align-items: initial;
    }
    
    .header-container {
        padding-bottom: 0 !important;
    }

    .add-photo-btn {
        background: #FDF1BD;
        color: #000;
    }

    .submit-button {
        background: #FBD125;
        color: #000;
        width: 180px;
    }

    .swiper-pagination-bullets {
        bottom: 60px !important;
    }

    .item-inner {
        padding-right: 0 !important;
        border-radius: 4px !important;
    }

    ion-item {
        padding-right: 16px !important;
    }

    .input-wrapper {
        border: 1px solid #ccc;
    }

    .sub-text {
        font-size: 12px;
        color: #7f7f7f;
    }

    .role-text {
        margin-top: 10px;
    }

    .send-message {
        padding-top: 5px;
        margin-top: 5px;
        border-top: 1px solid #ccc;
    }

    .slide-zoom{
        height: calc(100% - 56px);
        overflow-y: scroll;
    }

    .send-text {
        color: #7f7f7f;
    }

    .mail-icon {
        margin-right: 5px;
        font-size: 17px;
    }

    .network-container {
        background: #F0F0F0;
    }

    .select-icon {
        position: absolute !important;
        margin-right: 30px;
        right: 0;
    }

    .add-photo-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .submit-btn-container {
        margin-top: 30px;
    }

    .profile-container {
        min-height: 150px;
        background: #FBD125;
    }

    .pic-container {
        position: relative;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        top: 120px;
    }

    .day-rate-text, .location-text {
        color: #aaa;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .value-text {
        font-size: 15px;
    }

    .rate-container {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .resume-container, .buttons-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .check-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .background-container {
        height: 200px;
        position: absolute;
        left: -56px;
        width: 182px;
        opacity: 0.05;
        top: -10px;
        z-index: -10;

        img {
            width: 100%;
        }
    }

    .swiper-pagination-bullet-active {
        background: #000 !important;
    }

    button {
        border-radius: 4px !important;
    }

    ion-card {
        border-radius: 4px !important;
    }

    .field-item {
        margin-left: 16px;
        padding-left: 0;
        padding-right: 32px !important;
    }

    .buttons-container {
        button{
            border-color: #000 !important;
            color: #000 !important;
        }
    }

    .check-button {
        background: #FBD125;
    }

    .name-container {
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;

        .job-role-text {
            color: #7f7f7f;
            font-size: 13px;
        }
    }

    .profile-pic {
        width: 100px;
    }
}