<ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
        <div class="background-container">
            <img src="assets/imgs/logoblack.png">
        </div>
        <div class="header-container" padding>
            <h4 margin-top class="postgig-text">Post a Gig</h4>
        </div>

        <ion-list>
            <ion-item margin-top>
                <ion-input [(ngModel)]="gig.company" type="text" placeholder="Company"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-input [(ngModel)]="gig.emailAddress" type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-input type="number" [(ngModel)]="gig.rate" placeholder="Day Rate"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-input [(ngModel)]="gig.location" type="text" placeholder="Location"></ion-input>
            </ion-item>
            <ion-item margin-top (click)="selectDate($event)">
                <ion-input [(ngModel)]="gig.date" placeholder="Gig Dates"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-select [(ngModel)]="gig.position" placeholder="Position">
                    <ion-option *ngFor="let position of positions" [value]="position">{{position}}</ion-option>
                    <ion-option value="Photographer">Photographer</ion-option>
                    <ion-option value="Producer">Producer</ion-option>
                    <ion-option value="Assistant Director">Assistant Director</ion-option>
                    <ion-option value="Production Assistant">Production Assistant</ion-option>
                    <ion-option value="Editor">Editor</ion-option>
                    <ion-option value="Sound">Sound</ion-option>
                    <ion-option value="Graphic Designer">Graphic Designer</ion-option>
                    <ion-option value="Hair and Makeup">Hair and Makeup</ion-option>
                </ion-select>
            </ion-item>
            <div margin-top class="add-photo-container">
                <button ion-button full color="light" class="add-photo-btn" (click)="pickImage()">
                    Add photo
                </button>
                <input class="hide" type="file" name="image" #imageFile>
            </div>
        </ion-list>

        <div class="submit-btn-container" margin-bottom text-center>
            <button ion-button color="light" class="submit-button" (click)="submit()">Submit</button>
        </div>
    </ion-slide>

    <ion-slide class="network-container">
        <div class="background-container" *ngIf="isNetwork">
            <img src="assets/imgs/logoblack.png">
        </div>
        <div class="header-container" padding>
            <h4 margin-top class="postgig-text">Network</h4>
        </div>

        <ion-card *ngFor="let network of networks">
            <ion-card-content>
                <ion-row (click)="goToProfile(network)">
                    <ion-col col-3>
                        <img class="avatar" [src]="network.picture || 'assets/imgs/user-placeholder.gif'">
                    </ion-col>
                    <ion-col col-6 text-left>
                        <div>{{network.name}}</div>
                        <div class="sub-text role-text">{{network.position}}</div>
                        <div class="sub-text">{{network.location}}</div>
                    </ion-col>
                    <ion-col col-3 text-right>
                        <ion-icon name="ios-heart-outline"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                    </ion-col>
                    <ion-col col-9 text-left (click)="chatTo(network)">
                        <div class="send-message">
                            <ion-icon class="mail-icon" name="ios-mail-outline"></ion-icon>
                            <span class="send-text">
                                Send Message
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-slide>

    <ion-slide>
        <div class="profile-container" padding>
            <h4 margin-top class="postgig-text">Profile</h4>
            <div text-center class="pic-container">
                <img [src]="selectedNetwork.picture || 'assets/imgs/user-placeholder.gif'" class="profile-pic">
            </div>
        </div>
        <div class="name-container" text-center>
            <h4>{{selectedNetwork.name}}</h4>
            <div class="job-role-text">{{selectedNetwork.position}}</div>
        </div>

        <div class="rate-container" text-center>
            <ion-row>
                <ion-col>
                    <div class="day-rate-text">Day Rate</div>
                    <div class="value-text">$ {{selectedNetwork.dayRate}}</div>
                </ion-col>
                <ion-col>
                    <div class="location-text">Location</div>
                    <div class="value-text">{{selectedNetwork.location}}</div>
                </ion-col>
            </ion-row>
        </div>
        <div class="resume-container" text-center margin-top>
            <button full ion-button color="dark">View Resume</button>
        </div>
        <div class="buttons-container">
            <ion-row>
                <ion-col>
                    <button block ion-button outline color="light">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </button>
                </ion-col>
                <ion-col>
                    <button block ion-button outline color="light">
                        <ion-icon name="logo-vimeo"></ion-icon>
                    </button>
                </ion-col>
                <ion-col>
                    <button block ion-button outline color="light">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <div margin-top margin-bottom class="check-container" text-center>
            <button ion-button color="light" class="check-button" (click)="checkAvailability()">Check Availability</button>
        </div>
    </ion-slide>
</ion-slides>