page-landing {
    .landing-container {
        background: #000000;
    }


    .enter-button {
        width: 200px;
    }

    .btn-container {
        position: relative;
        bottom: -56px;
    }

    .logo-container {
        margin-top: 70px;
        width: 100%;
        text-align: center;
    }

    .logo-text-container {
        margin-top: 60px;
        width: 100%;
        text-align: center;
    }

    .logo {
        width: 251px;
    }

    button {
        border-radius: 4px !important;
    }
    
}