<ion-content class="landing-container" padding>

    <div class="logo-container">
        <img src="assets/imgs/predictor-logo.png" class="logo">
    </div>

    <div class="logo-text-container">
        <img src="assets/imgs/whitelogotext.png">
    </div>
    
    <div class="btn-container" text-center>
        <button class="enter-button" ion-button color="light" (click)="goToSignIn()">Enter</button>
    </div>
</ion-content>