page-tabs {
    .tabs-md .tab-button[aria-selected=true] {
        background: #FBD125;

        .tab-button-icon, .tab-button-text {
            color: #000;
        }

        .tab-button-text {
            font-size: 11px;
        }

        .tab-button-icon {
            font-size: 20px;
        }
    }

    .tabs-md .tab-button.has-title-only {
        padding: 0 !important;
    }

    .tabs-md .tab-button {
        background: #000;

        .tab-button-icon, .tab-button-text {
            color: #fff;
        }

        .tab-button-text {
            font-size: 11px;
        }

        .tab-button-icon {
            font-size: 20px;
        }
    }
}