<ion-tabs #tabs (ionChange)="listenTabChange($event)">
    <ion-tab [root]="profile" [tabTitle]="'Profile'" tabIcon="person"></ion-tab>
    <ion-tab [root]="gigs" [tabTitle]="'Gigs'"></ion-tab>
    <ion-tab [root]="chats" [tabTitle]="'Messages'" tabIcon="chatbubbles"></ion-tab>
    <ion-tab [root]="settings" [tabTitle]="'Settings'" tabIcon="settings"></ion-tab>
    <ion-tab [root]="preditor" [tabTitle]="'Preditor'"></ion-tab>
</ion-tabs>