page-sign-in {
    
    .sign-in-container {
        background: #FBD125;
    }

    .signin-btn {
        width: 180px;
    }

    .logo-container {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    ion-icon {
        font-size: 21px;
    }

    button {
        border-radius: 4px !important;
    }

    .sign-in-main {
        padding: 17px;
        background: #000;
        color: #fff;
        font-size: 16px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .sign-up {
        padding: 17px;
        font-size: 16px;
    }

    .sign-buttons-container {
        margin-top: 25px;
    }

    .button-group-container {
        margin-top: 25px;
    }

    .singin-container {
        margin-top: 15px;
    }

    .forgot-password {
        margin-top: 30px;
    }

    ion-item {
        border-radius: 4px !important;
    }
}