<ion-content class="sign-in-container">

    <div text-center class="logo-container">
        <img src="assets/imgs/blacklogotext2.png">
    </div>

    <ion-row class="sign-buttons-container">
        <ion-col text-right class="sign-in-main">
            SIGN IN
        </ion-col>
        <ion-col text-left class="sign-up" (click)="goToSignUp()">
            SIGN UP
        </ion-col>
    </ion-row>

    <div class="login-box" margin-top>
        <form (ngSubmit)="login('local')" #loginForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-input [(ngModel)]="user.email" type="text" placeholder="Email" name="email" required></ion-input>
                        </ion-item>

                        <ion-item margin-top>
                            <ion-input [(ngModel)]="user.password" type="password" placeholder="Password" name="password" required></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <div class="signin-container" text-center>
                <button ion-button class="signin-btn" color="dark" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
            </div>

            <div class="button-group-container" text-center>
                <button ion-button type="button" outline color="dark" (click)="login('google')">
                    <ion-icon name="logo-googleplus"></ion-icon>
                </button>
                <button ion-button type="button" outline color="dark" (click)="login('facebook')">
                    <ion-icon name="logo-facebook"></ion-icon>
                </button>
                <button ion-button type="button" outline color="dark">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </button>
            </div>

            <div class="forgot-password" text-center>
                Forgot Password?
            </div>
        </form>
    </div>
</ion-content>