page-user-search {
    .user-search-container {
        background: #FBD125;
    }

    ion-input {
        background: #fff;
        border-radius: 5px;
    }

    .avatar {
        border-radius: 50%;
    }

    .location-text {
        color: #7f7f7f;
        font-size: 12px;
    }

    ion-card {
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        border-radius: 4px !important;
    }

    .item-inner {
        margin-left: 0 !important;
    }

    .search-container {
        ion-item {
            border-radius: 5px;
        }
    }

    .talent-box {
        border-radius: 4px !important;
        width: auto;
    }

    ion-card-content {
        padding: 6px 8px !important;
    }

    .selected {
        background: #000;
        color: #fff;
    }

    .swiper-slide {
        width: auto !important;
    }

}