<ion-content padding class="user-search-container">
    <div class="header-container">
        <h4 margin-top class="looking-text">What are you looking for?</h4>
    </div>
    <div class="search-container">
        <ion-searchbar [(ngModel)]="searchKey" (ionInput)="searchPreditors()">
        </ion-searchbar>
    </div>

    <div class="buttons-container" margin-top>
        <ion-slides slidesPerView="3" spaceBetween="10" loop="true">
            <ion-slide *ngFor="let position of positions">
                <button ion-button [ngClass]="{'selected': selectedItem == position}" (click)="selectItem(position)" color="dark"
                    class="talent-box" outline>{{position}}</button>
            </ion-slide>
        </ion-slides>
    </div>

    <div class="cards-list-container" margin-top>
        <ion-card *ngFor="let preditor of preditors">
            <ion-card-content>
                <ion-row>
                    <ion-col col-2>
                        <img [src]="preditor.picture || 'assets/imgs/user-placeholder.gif'" class="avatar">
                    </ion-col>
                    <ion-col col-10>
                        <div class="name-text">{{preditor.name}}</div>
                        <div class="location-text">{{preditor.location}}</div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>