<ion-content padding>
    <h4 margin-top>Dashboard</h4>

    <div margin-top (click)="userSearch()">
        <ion-icon class="search-icon" name="square-outline"></ion-icon>User Search
    </div>

    <ion-list margin-top>
        <ion-card *ngFor="let preditor of preditors">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col col-2>
                            <img class="avatar" [src]="preditor.picture || 'assets/imgs/user-placeholder.gif'">
                        </ion-col>
                        <ion-col col-7>
                            <div>{{preditor.name}}</div>
                            <div class="location-text">{{preditor.location}}</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div text-center margin-top class="icons-container">
                    <ion-row>
                        <ion-col>
                            <ion-icon name="ios-thumbs-down-outline"></ion-icon>
                        </ion-col>
                        <ion-col (click)="chatTo(preditor)">
                            <ion-icon name="ios-text-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <ion-icon name="ios-heart-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <ion-icon name="md-share"></ion-icon>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>