page-preditor {
    ion-card {
        background: #FBD125 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }

    ion-card-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .location-text {
        font-size: 12px;
    }

    .icons-container {
        background: #FCE37C;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
    }

    .icon-action {
        font-size: 20px;
    }

    .avatar {
        border-radius: 50%;
        border: 2px solid white;
    }

    ion-card {
        border-radius: 4px !important;
    }

    .search-icon {
        margin-right: 10px;
    }
}