page-profile {
  .profile-page-container {
    background: #F0F0F0;
  }

  .profile-div {
    float: left;
  }

  .create-container {
    float: right;

    ion-icon {
      font-size: 25px;
    }
  }

  .update-button {
    background: #FBD125;
    color: #000;
    width: 180px;
  }

  .header-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    width: 100%;
  }

  .profile-image-container {
    margin-top: 60px !important;
  }

  .profile-image {
    border-radius: 50%;
    height: 100px;
    min-height: 100px;
    min-width: 100px;
    background: url("/assets/imgs/user-placeholder.gif") center center no-repeat;
    background-size: contain;
  }

  .media-button {
    background: #FBD125;
  }

  .media-icon {
    color: #000;
    font-size: 21px;
  }

  .plus-btn-container {
    color: #fff;
    border-radius: 50%;
    padding: 3px 6px 1px;
    background: #7ED321;
    position: relative;
    top: -103px;
    width: 23px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 36px;
  }

  button {
    border-radius: 4px !important;
  }

  ion-item {
    border-radius: 4px !important;
  }

  .days {
    .have-gig {
      background: #FBD125;

      p {
        color: #333 !important;
      }
    }

    .my-gig {
      background: #111111;

      p {
        color: #eeeeee !important;
      }
    }
  }

  .text-input[disabled] {
    opacity: 1;
  }

  .item {
    background-color: transparent;

    .input[disabled] {
      background-color: transparent;
    }

    .input {
      background-color: white;
    }
  }
}
