<ion-content class="profile-page-container">
    <div class="header-container">
        <h4 margin-top class="profile-div">Profile</h4>
        <div margin-top class="create-container" (click)="edit()">
            <ion-icon name="ios-create-outline" *ngIf="!isEditing"></ion-icon>
            <ion-icon name="ios-close-outline" *ngIf="isEditing"></ion-icon>
        </div>
    </div>

    <div class="profile-image-container" text-center margin-top>
        <img src="assets/imgs/user-placeholder.gif" class="profile-image" (click)="pickImage()" *ngIf="!image">
        <img [src]="image" class="profile-image" (click)="pickImage()" *ngIf="image">
        <input class="hide" type="file" name="image" #imageFile (change)="changeImage(imageFile.files)">
        <div class="plus-btn-container" [style.visibility]="isEditing ? 'visible' : 'hidden'">
            <ion-icon name="add" class="plus-btn"></ion-icon>
        </div>
    </div>

    <div class="profile-box" margin-top *ngIf="user">
        <ion-list inset>
            <ion-item margin-top>
                <ion-input [(ngModel)]="user.name" type="text" placeholder="Name" name="name" required disabled *ngIf="!isEditing"></ion-input>
                <ion-input [(ngModel)]="user.firstName" type="text" placeholder="First Name" name="firstame" required *ngIf="isEditing"></ion-input>
                <ion-input [(ngModel)]="user.lastName" type="text" placeholder="Last Name" name="lastname" required *ngIf="isEditing"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-input [(ngModel)]="user.location" type="text" placeholder="Location" name="location" required disabled *ngIf="!isEditing"></ion-input>
                <ion-input [(ngModel)]="user.cityCountry" type="text" placeholder="City/Country" name="citycountry" required *ngIf="isEditing"></ion-input>
                <ion-input [(ngModel)]="user.zipCode" type="text" placeholder="Zip Code" name="zipcode" required *ngIf="isEditing"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-input [(ngModel)]="user.mobileNumber" type="text" placeholder="Mobile Number" name="mobile" required disabled *ngIf="!isEditing"></ion-input>
                <ion-input [(ngModel)]="user.mobileNumber" type="text" placeholder="Mobile Number" name="mobile" required *ngIf="isEditing"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-input [(ngModel)]="user.emailAddress" type="email" placeholder="Email" name="email" required disabled></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-input [(ngModel)]="user.dayRate" type="number" placeholder="Day Rate" name="rate" required disabled *ngIf="!isEditing"></ion-input>
                <ion-input [(ngModel)]="user.dayRate" type="number" placeholder="Day Rate" name="rate" required *ngIf="isEditing"></ion-input>
            </ion-item>
            <div margin-top text-center *ngIf="!isEditing">
                <ion-row>
                    <ion-col>
                        <button block ion-button class="media-button" color="dark" (click)="openBrowser('https://instagram.com')">
                            <ion-icon name="logo-instagram" class="media-icon"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button block ion-button class="media-button" color="dark" (click)="openBrowser('https://vimeo.com/')">
                            <ion-icon name="logo-vimeo" class="media-icon"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button block ion-button class="media-button" color="dark" (click)="openBrowser('https://youtube.com')">
                            <ion-icon name="logo-youtube" class="media-icon"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-list>

        <ion-calendar [(ngModel)]="date" (onChange)="onChange($event)" [type]="type" [format]="'YYYY-MM-DD'" [options]="calendarOptions" *ngIf="!isEditing">
        </ion-calendar>

        <div class="update-btn-container" margin-top margin-bottom text-center *ngIf="isEditing">
            <button ion-button color="light" class="update-button" (click)="update()">Update</button>
        </div>
    </div>
</ion-content>