<ion-content padding>
    <div class="background-container">
        <img src="assets/imgs/logoblack.png">
    </div>
    <h3 margin-top margin-bottom>Gigs</h3>

    <ion-card class="gigs-card" margin-top *ngFor="let item of items" (click)="selectItem(item)">
        <ion-card-content>
            <ion-row>
                <ion-col>
                    {{item}}
                </ion-col>
                <ion-col>
                    <div class="icon-container">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>