page-gigs {
    .gigs-card {
        background: #FBD125;
    }

    ion-card-content {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .icon-container {
        float: right;
        background: #000;
        padding: 7px;
        padding-left: 13px;
        padding-right: 13px;
        color: #fff;
    }

    ion-row {
        align-items: center;
    }

    .background-container {
        height: 200px;
        position: absolute;
        left: -56px;
        width: 182px;
        opacity: 0.05;
        top: -10px;
        z-index: -10;

        img {
            width: 100%;
        }
    }

    ion-card {
        border-radius: 4px !important;
    }
}