page-sign-up {
    
    .sign-up-container {
        background: #FBD125;
    }

    .logo-container {
        margin-top: 40px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sign-up-main {
        padding: 17px;
        background: #000;
        color: #fff;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .media-icon {
        font-size: 21px;
    }

    .first-col {
        padding-left: 0;
    }

    .last-col {
        padding-right: 0;
    }

    .sign-in {
        padding: 17px;
        font-size: 16px;
    }

    .signup-box {
        padding-left: 5px;
        padding-right: 5px;
    }

    .signin-btn {
        width: 180px;
    }

    .button-group-container {
        margin-top: 15px;
    }

    button {
        border-radius: 4px !important;
    }

    ion-item {
        border-radius: 4px !important;
    }

    ion-icon {
        font-size: 24px;
    }
}