<ion-content class="sign-up-container">
    <div text-center class="logo-container">
        <img src="assets/imgs/blacklogotext2.png">
    </div>

    <ion-row class="sign-buttons-container">
        <ion-col text-right class="sign-in" (click)="goToSignIn()">
            SIGN IN
        </ion-col>
        <ion-col text-left class="sign-up-main">
            SIGN UP
        </ion-col>
    </ion-row>

    <div class="signup-box" margin-top>
        <form #signUpForm="ngForm">
            <ion-list inset>
                <ion-row margin-top>
                    <ion-col class="first-col">
                        <ion-item>
                            <ion-input [(ngModel)]="user.firstName" type="text" placeholder="First Name" name="firstname"
                                required></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="last-col">
                        <ion-item>
                            <ion-input [(ngModel)]="user.lastName" type="text" placeholder="Last Name" name="lastname"
                                required></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-item margin-top>
                    <ion-input [(ngModel)]="user.mobileNumber" type="tel" placeholder="Mobile Number" name="mobile"
                        required></ion-input>
                </ion-item>
                <ion-item margin-top>
                    <ion-input [(ngModel)]="user.emailAddress" type="email" placeholder="Email Address" name="email"
                        required></ion-input>
                </ion-item>
                <ion-item margin-top>
                    <ion-input [(ngModel)]="password" type="password" placeholder="Password" name="password" required></ion-input>
                </ion-item>
                <ion-item margin-top>
                    <ion-input [(ngModel)]="user.zipCode" type="text" placeholder="Zip Code" name="zip" required></ion-input>
                </ion-item>
                <ion-item margin-top>
                    <ion-input [(ngModel)]="user.cityCountry" type="text" placeholder="City/Country" name="citycountry"
                        required></ion-input>
                </ion-item>
                <button margin-top ion-button full color="light" (click)="pickResume()">Upload Resume/Portfolio</button>
                <input class="hide" type="file" name="image" #resumeFile>
                <ion-item margin-top>
                    <ion-input [(ngModel)]="user.dayRate" type="number" placeholder="Day Rate" name="rate"></ion-input>
                </ion-item>
                <div margin-top text-center>
                    <ion-row>
                        <ion-col>
                            <button block ion-button outline color="dark" (click)="openBrowser('https://instagram.com')">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col>
                            <button block ion-button outline color="dark" (click)="openBrowser('https://vimeo.com/')">
                                <ion-icon name="logo-vimeo"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col>
                            <button block ion-button outline color="dark" (click)="openBrowser('https://youtube.com')">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
                <button margin-top ion-button full color="light" (click)="pickImage()">Upload Picture</button>
                <input class="hide" type="file" name="image" #imageFile>

                <div text-center margin-top>
                    <button ion-button class="signin-btn" color="dark" type="submit" [disabled]="!signUpForm.form.valid"
                        (click)="signUp(user)">Sign up</button>
                </div>

                <div class="button-group-container" text-center>
                    <button ion-button outline color="dark">
                        <ion-icon name="logo-googleplus" class="media-icon"></ion-icon>
                    </button>
                    <button ion-button outline color="dark">
                        <ion-icon name="logo-facebook" class="media-icon"></ion-icon>
                    </button>
                    <button ion-button outline color="dark">
                        <ion-icon name="logo-linkedin" class="media-icon"></ion-icon>
                    </button>
                </div>
            </ion-list>
        </form>
    </div>
</ion-content>