<ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
        <div class="background-container">
            <img src="assets/imgs/logoblack.png">
        </div>
        <div class="header-container" padding>
            <h4 margin-top class="findgig-text">Find a Gig</h4>
        </div>

        <ion-list>
            <ion-card *ngFor="let gig of gigs">
                <ion-card-content text-center>
                    <div (click)="selectItem(gig)" >
                        <div text-center>
                            <img src="assets/imgs/blackgigs.png" class="main-icon">
                        </div>
                        <div class="job-text">{{gig.position}}</div>
                        <div class="date-text">{{gig.date}}</div>
                    </div>
    
                    <div text-center margin-top class="icons-container">
                        <ion-row>
                            <ion-col (click)="applyToGig(gig)">
                                <ion-icon class="icon-action" name="ios-send-outline"></ion-icon>
                            </ion-col>
                            <ion-col (click)="chat(gig.creator)">
                                <ion-icon class="icon-action" name="ios-mail-outline"></ion-icon>
                            </ion-col>
                            <ion-col>
                                <ion-icon class="icon-action" name="md-share"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ion-slide>


    <ion-slide>
        <div class="gig-container">
            <img [src]="gigPicture" class="background-image" *ngIf="gigPicture" />
            <div class="buttons-container">
                <div class="apply-btn" (click)="applyToGig(selectedGig)">
                    Apply
                    <ion-icon class="header-button" name="ios-send-outline"></ion-icon>
                </div>
                <div class="share-btn">
                    Share
                    <ion-icon class="header-button" name="md-share"></ion-icon>
                </div>
            </div>
        </div>
        <div class="details-container">
            <div text-left class="detail-item">
                <div class="detail-header">Production Company</div>
                <div class="detail-info">{{selectedGig.company}}</div>
            </div>
            <div text-left class="detail-item">
                <div class="detail-header">Dates</div>
                <div class="detail-info">{{selectedGig.date}}</div>
            </div>
            <div text-left class="detail-item">
                <div class="detail-header">Day Rate</div>
                <div class="detail-info">$ {{selectedGig.rate}}</div>
            </div>
            <div text-left class="detail-item">
                <div class="detail-header">Position</div>
                <div class="detail-info">{{selectedGig.position}}</div>
            </div>
            <div text-left class="detail-item">
                <div class="detail-header">Location</div>
                <div class="detail-info">{{selectedGig.location}}</div>
            </div>
        </div>
    </ion-slide>
</ion-slides>