page-find-a-gig {
    .findgig-text {
        text-align: left;
    }

    .swiper-slide {
        align-items: initial;
    }
    
    .header-container {
        padding-bottom: 0 !important;
    }

    ion-card {
        background: #FBD125 !important;
    }

    .main-icon {
        width: 23px !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .icon-action {
        font-size: 20px;
    }

    .swiper-pagination-bullets {
        bottom: 60px !important;
    }

    .gig-container {
        min-height: 150px;

        .background-image {
            width: 100%;
        }
    }

    .detail-header {
        font-size: 14px;
        color: #7f7f7f;
        margin-bottom: 5px;
    }

    .detail-info {
        font-size: 15px
    }

    .detail-item {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
    }

    .slide-zoom{
        height: calc(100% - 56px);
        overflow-y: scroll;
    }

    .apply-btn {
        float: left;
        padding: 5px;
        background: #6B6B6B;
        color: #fff;
        margin-left: 20px;
        font-size: 15px;
        border-radius: 16px;
        padding-left: 11px;
        padding-right: 11px;
    }

    .share-btn {
        float: right;
        padding: 5px;
        background: #6B6B6B;
        color: #fff;
        margin-right: 20px;
        font-size: 15px;
        border-radius: 16px;
        padding-left: 11px;
        padding-right: 11px;
    }

    .buttons-container {
        position: relative;
        top: -55px;
        width: 100%;
    }

    .header-button {
        margin-left: 5px;
        color: #000;
    }

    .details-container {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 20px;
    }

    .icons-container {
        background: #FCE37C;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
    }

    .background-container {
        height: 200px;
        position: absolute;
        left: -56px;
        width: 182px;
        opacity: 0.05;
        top: -10px;
        z-index: -10;

        img {
            width: 100%;
        }
    }

    .swiper-pagination-bullet-active {
        background: #000 !important;
    }

    ion-card {
        border-radius: 4px !important;
    }
}