page-settings {
    .background-container {
        height: 200px;
        position: absolute;
        left: -56px;
        width: 182px;
        opacity: 0.05;
        top: -10px;
        z-index: 0;

        img {
            width: 100%;
        }
    }

    .selection-btn {
        background: transparent;
    }
}