page-my-gigs {
    .mygigs-text {
        text-align: left;
        float: left;
    }

    .swiper-slide {
        align-items: initial;
    }

    .header-container {
        padding-bottom: 0 !important;
    }

    ion-card {
        background: #FBD125 !important;
    }

    .talent-card {
        background: #fff !important;
    }

    .main-icon {
        width: 23px !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .icon-action {
        font-size: 20px;
    }

    .icons-container {
        background: #FCE37C;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
    }

    .notifications-container {
        float: right;

        ion-icon {
            font-size: 25px;
        }
    }

    .slide-zoom{
        height: calc(100% - 56px);
        overflow-y: scroll;
    }

    .swiper-pagination-bullets {
        bottom: 60px !important;
    }

    .gig-container {
        min-height: 150px;

        .background-image {
            width: 100%;
        }
    }

    .details-container {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: -30px;
    }

    .detail-header {
        font-size: 14px;
        color: #7f7f7f;
        margin-bottom: 5px;
    }

    .detail-info {
        font-size: 15px
    }

    .detail-item {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f0f0f0;
    }

    .photo-details-container {
        position: relative;
        top: -63px;
        font-size: 14px;
        padding-left: 16px;
        color: #fff;
        font-weight: 100;
    }

    .photo-details-info {
        margin-top: 5px;
    }

    .network-container {
        background: #F0F0F0;
    }

    .postgig-text {
        text-align: left;
    }

    .sub-text {
        font-size: 12px;
        color: #7f7f7f;
    }

    .role-text {
        margin-top: 10px;
    }

    .send-message {
        padding-top: 5px;
        margin-top: 5px;
        border-top: 1px solid #ccc;
    }

    .send-text {
        color: #7f7f7f;
    }

    .mail-icon {
        margin-right: 5px;
        font-size: 17px;
    }

    .profile-container {
        min-height: 150px;
        background: #FBD125;
    }

    .pic-container {
        position: relative;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        top: 120px;
    }

    .profile-pic {
        width: 100px;
    }

    .add-photo-btn {
        background: #FDF1BD;
        color: #000;
    }

    .submit-button {
        background: #FBD125;
        color: #000;
        width: 180px;
    }

    .name-container {
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;

        .job-role-text {
            color: #7f7f7f;
            font-size: 13px;
        }
    }

    .day-rate-text, .location-text {
        color: #aaa;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .value-text {
        font-size: 15px;
    }

    .rate-container {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .resume-container, .buttons-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .buttons-container {
        button{
            border-color: #000 !important;
            color: #000 !important;
        }
    }

    .check-button {
        background: #FBD125;
    }

    .check-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .background-container {
        height: 200px;
        position: absolute;
        left: -56px;
        width: 182px;
        opacity: 0.05;
        top: -10px;
        z-index: -10;

        img {
            width: 100%;
        }
    }

    .swiper-pagination-bullet-active {
        background: #000 !important;
    }

    button {
        border-radius: 4px !important;
    }

    ion-card {
        border-radius: 4px !important;
    }

}