<ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
        <div class="background-container">
            <img src="assets/imgs/logoblack.png">
        </div>
        <div class="header-container" padding>
            <h4 margin-top class="mygigs-text">My Gig's</h4>
            <div margin-top class="notifications-container">
                <ion-icon name="ios-notifications-outline"></ion-icon>
            </div>
        </div>

        <ion-list>
            <ion-card (click)="selectItem(gig)" *ngFor="let gig of gigs">
                <ion-card-content text-center>
                    <div text-center>
                        <img src="assets/imgs/blackgigs.png" class="main-icon">
                    </div>
                    <div class="job-text">{{gig.position}}</div>
                    <div class="date-text">{{gig.date}}</div>

                    <div text-center margin-top class="icons-container">
                        <ion-row>
                            <ion-col>
                                <ion-icon class="icon-action" name="ios-send-outline"></ion-icon>
                            </ion-col>
                            <ion-col>
                                <ion-icon class="icon-action" name="ios-mail-outline"></ion-icon>
                            </ion-col>
                            <ion-col>
                                <ion-icon class="icon-action" name="md-share"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ion-slide>

    <ion-slide>
        <div class="gig-container">
            <img [src]="gigPicture" class="background-image" *ngIf="gigPicture" />
            <div class="photo-details-container">
                <div text-left class="photo-detail-item">
                    <div class="photo-detail-header">Production Company</div>
                    <div class="photo-detail-info">{{selectedGig.company}}</div>
                </div>
            </div>
        </div>
        <div class="details-container" (click)="goToTalents()">
            <div text-left class="detail-item">
                <div class="detail-header">Dates</div>
                <div class="detail-info">{{selectedGig.date}}</div>
            </div>
            <div text-left class="detail-item">
                <div class="detail-header">Day Rate</div>
                <div class="detail-info">$ {{selectedGig.rate}}</div>
            </div>
            <div text-left class="detail-item">
                <div class="detail-header">Position</div>
                <div class="detail-info">{{selectedGig.position}}</div>
            </div>
            <div text-left class="detail-item">
                <div class="detail-header">Location</div>
                <div class="detail-info">{{selectedGig.location}}</div>
            </div>
        </div>
    </ion-slide>

    <ion-slide class="network-container">
        <div class="background-container">
            <img src="assets/imgs/logoblack.png">
        </div>
        <div class="header-container" padding>
            <h4 margin-top class="postgig-text">Talent's</h4>
        </div>

        <ion-list>
            <ion-card class="talent-card" *ngFor="let talent of talents">
                <ion-card-content>
                    <ion-row (click)="goToProfile(talent)" >
                        <ion-col col-3>
                            <img class="avatar" [src]="talent.picture || 'assets/imgs/user-placeholder.gif'">
                        </ion-col>
                        <ion-col col-6 text-left>
                            <div>{{talent.name}}</div>
                            <div class="sub-text role-text">{{talent.position}}</div>
                            <div class="sub-text">{{talent.location}}</div>
                        </ion-col>
                        <ion-col col-3 text-right>
                            <ion-icon name="ios-heart-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-3>
                        </ion-col>
                        <ion-col col-9 text-left (click)="chatTo(talent)">
                            <div class="send-message">
                                <ion-icon class="mail-icon" name="ios-mail-outline"></ion-icon>
                                <span class="send-text">
                                    Send Message
                                </span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ion-slide>

    <ion-slide>
        <div class="profile-container" padding>
            <h4 margin-top class="postgig-text">Profile</h4>
            <div text-center class="pic-container">
                <img [src]="selectedTalent.picture || 'assets/imgs/user-placeholder.gif'" class="profile-pic">
            </div>
        </div>
        <div class="name-container" text-center>
            <h4>{{selectedTalent.name}}</h4>
            <div class="job-role-text">{{selectedTalent.position}}</div>
        </div>

        <div class="rate-container" text-center>
            <ion-row>
                <ion-col>
                    <div class="day-rate-text">Day Rate</div>
                    <div class="value-text">$ {{selectedTalent.dayRate}}</div>
                </ion-col>
                <ion-col>
                    <div class="location-text">Location</div>
                    <div class="value-text">{{selectedTalent.location}}</div>
                </ion-col>
            </ion-row>
        </div>
        <div class="resume-container" text-center margin-top>
            <button full ion-button color="dark">View Resume</button>
        </div>
        <div class="buttons-container">
            <ion-row>
                <ion-col>
                    <button block ion-button outline color="light">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </button>
                </ion-col>
                <ion-col>
                    <button block ion-button outline color="light">
                        <ion-icon name="logo-vimeo"></ion-icon>
                    </button>
                </ion-col>
                <ion-col>
                    <button block ion-button outline color="light">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <div margin-top margin-bottom class="check-container" text-center>
            <button ion-button color="light" class="check-button" (click)="checkAvailability()">Check Availability</button>
        </div>
    </ion-slide>

</ion-slides>