page-messages {
    .message-page-container {
        background: #F0F0F0;
    }

    ion-item {
        background: #F0F0F0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .item-inner {
        border: none !important;
    }

    ion-label {
        margin: 0 !important;
    }

    .item-inner {
        padding-right: 0;
        margin-left: 0 !important;
    }

    .send-btn {
        background: #FBD125;
        color: #000;
        height: 32px !important;
        font-size: 16px !important;
    }

    ion-input {
        background: #fff;
        border-radius: 60px;
        font-size: 13px;
        margin-right: 15px;
        margin-left: 0;
    }

    .more-icon {
        margin-right: 3px !important;
        margin-left: 3px !important;
    }

    ion-footer {
        bottom: 64px !important;
    }
    
    ion-footer:before {
        height: 0 !important;
    }

    .chatBubble {
        img.profile-pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            bottom: 10px;
        }
      
        img.profile-pic.left {
            left: 0;
            top: 10px;
        }
      
        img.profile-pic.right {
            right: 10px;
        }

        .chat-bubble {
            border-radius: 5px;
            display: inline-block;
            padding: 10px 10px;
            position: relative;
            margin: 10px;
            max-width: 80%;
        }
      
        .chat-bubble:before {
            content: "\00a0";
            display: block;
            height: 16px;
            width: 9px;
            position: absolute;
            bottom: -7.5px;
        }
      
        .chat-bubble.left {
            background-color: #fff;
            float: left;
            margin-left: 50px;
        }
      
        .chat-bubble.right {
            background-color: #FBD125;
            color: #000;
            float: right;
            margin-right: 0;
        }
      
        .chat-bubble.right a.autolinker {
            color: #000;
            font-weight: bold;
        }

        .message {
            font-size: medium;
            word-wrap: break-word;
            white-space: pre-wrap;
            font-size: 14px;
            width: 100%;
        }

        .time {
            text-align: right;
            font-size: 10px;
            margin-top: 3px;
        }
    }

    .header-container {
        margin-top: 16px;
        margin-left: 10px;
    }
}