<ion-header no-border padding>
    <div class="header-container">
        <h4 margin-top>{{otherUser?.name}}</h4>
    </div>
</ion-header>

<ion-content class="message-page-container" padding #content>
    <ion-list [virtualScroll]="chats | sort: 'time'">
        <ion-item *virtualItem="let chat">
            <div class="chatBubble" *ngIf="isChatFromOther(chat)">
                <img [src]="otherUser.picture || 'assets/imgs/user-placeholder.gif'" class="profile-pic left">
                <div class="chat-bubble left">
                    <div class="message">{{chat.message}}</div>
                    <div class="time">
                        {{chat.readableTime}}
                    </div>
                </div>
            </div>
            <div class="chatBubble" *ngIf="!isChatFromOther(chat)">
                <div class="chat-bubble right">
                    <div class="message">{{chat.message}}</div>
                    <div class="time">
                        {{chat.readableTime}}
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <form (ngSubmit)="sendMessage()" #messageForm="ngForm">
        <ion-item>
            <ion-icon name="md-more" item-left class="more-icon"></ion-icon>
            <ion-input name="message" placeholder="Say something" type="text" [(ngModel)]="message" required></ion-input>
            <button ion-button type="submit" item-right color="light" round class="send-btn" (click)="sendMessage()"
                [disabled]="!messageForm.form.valid">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-item>
    </form>
</ion-footer>