page-chats {
  .background-container {
    height: 200px;
    position: absolute;
    left: -56px;
    width: 182px;
    opacity: .05;
    top: -10px;
    z-index: 0;

    img {
      width: 100%;
    }
  }

  ion-card {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    border-radius: 4px !important;
  }

  .chats-page {
    background: #F0F0F0;
  }

  .cards-list-container {
    margin-top: 20px !important;
  }

  .search-container {
    ion-searchbar {
      padding: 0;
    }
  }

  .avatar {
    border-radius: 50%;
  }

  .location-text {
      color: #7f7f7f;
      font-size: 12px;
  }

  .selection-btn {
    background: transparent;
    padding-left: 0;
  }

  .col-avatar {
    text-align: right;

    .avatar {
      border-radius: 50%;
      max-width: 75%;
    }
  }

  .col-name {
    line-height: 2;
  }

  .location-text {
    color: #7f7f7f;
    font-size: 12px;
  }

  .label {
    margin: 0;
  }

}
