<ion-content padding class="chats-page">
  <h3 margin-top margin-bottom>Messages</h3>
  <div class="search-container">
    <ion-searchbar [(ngModel)]="searchKey">
    </ion-searchbar>
  </div>

  <div class="cards-list-container" margin-top>
    <ion-card *ngFor="let preditor of preditors | chatFilter:searchKey" (click)="chatTo(preditor)">
        <ion-card-content>
            <ion-row>
                <ion-col col-2>
                    <img [src]="preditor.picture || 'assets/imgs/user-placeholder.gif'" class="avatar">
                </ion-col>
                <ion-col col-10>
                    <div class="name-text">{{preditor.name}}</div>
                    <small><i>{{ chats.hasOwnProperty(preditor.id) ? chats[preditor.id] : 'Loading...' }}</i></small>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
  </div>
  <!-- <ion-list>
    <button class="selection-btn" ion-item *ngFor="let preditor of preditors" (click)="chatTo(preditor)">
      <ion-row class="row">
        <ion-col class="col col-avatar" col-2>
          <img class="avatar" [src]="preditor.picture || 'assets/imgs/user-placeholder.gif'">
        </ion-col>
        <ion-col class="col col-name" col-10>
          <div class="name-text">{{preditor.name}}</div>
        </ion-col>
      </ion-row>
    </button>
  </ion-list> -->
</ion-content>