page-calendar {
  .calendar-page-container {
    background: #F0F0F0;
  }

  .header-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    width: 100%;
  }

  .booked-card {
    background: #FBD125;
  }

  .holding-card {
    background: #000;
    color: #fff;
  }

  .cards-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  ion-card {
    border-radius: 4px !important;
  }

  .days {
    .have-gig {
      background: #FBD125;

      p {
        color: #333 !important;
      }
    }

    .my-gig {
      background: #111111;

      p {
        color: #eeeeee !important;
      }
    }
  }
}
