<ion-content class="calendar-page-container">
    <div class="header-container">
        <h4 margin-top>Calendar</h4>
    </div>

    <div>
        <ion-calendar [(ngModel)]="date"
            (onChange)="onChange($event)"
            [type]="type"
            [format]="'YYYY-MM-DD'"
            [options]="calendarOptions">
        </ion-calendar>
    </div>

    <div class="cards-container">
        <ion-card margin-top class="booked-card">
            <ion-card-content text-center>BOOKED</ion-card-content>
        </ion-card>
    
        <ion-card margin-top class="holding-card">
            <ion-card-content text-center>HOLDING</ion-card-content>
        </ion-card>
    </div>
</ion-content>