page-notifications {

    .notifications-page {
        background: #FBD125;
    }

    .time-text {
        font-size: 10px;
        color: #767676;
    }

    .avatar {
        border-radius: 50%;
    }

    p {
        font-size: 13px !important;
    }

    ion-card {
        border-radius: 4px !important;
    }

    ion-card-content {
        padding: 6px 9px !important;
    }
}