<ion-content padding class="notifications-page">
    <h4 margin-top>Notifications</h4>

    <ion-list margin-top>
        <ion-card *ngFor="let notification of notifications">
            <ion-card-content>
                <ion-row>
                    <ion-col col-3>
                        <img class="avatar" src="assets/imgs/sample-pic.jpg">
                    </ion-col>
                    <ion-col col-9>
                        <p>
                            {{notification.text}}
                        </p>
                        <div class="time-text">{{notification.timeDifference}}</div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>