page-plan-and-billing {

    .swiper-slide {
        align-items: initial;
    }

    .header-container {
        min-height: 200px;
        background: #000;
    }

    .header2-continer {
        min-height: 230px;
    }

    .days-container {
        background: #FCD54E;
        padding: 50px;
        border-radius: 4px;
    }

    .billing-box {
        padding-left: 20px;
        padding-right: 20px;
    }

    .item-md {
        padding-left: 0;
    }

    .item-inner {
        padding-right: 0 !important;
    }

    .first-col {
        padding-left: 0;
    }

    .last-col {
        padding-right: 0;
    }

    ion-input {
        border: 1px solid #dedede !important;
        font-size: 14px;
    }

    .black-membership {
        background: #000;
        padding: 25px;
        height: 46%;
        border-radius: 6px;
        align-items: center;
        display: grid;
    }

    .submit-btn {
        width: 180px;
        background: #FBC83A;
        color: #000;
    }

    .yellow-membership {
        background: #FBC83A;
        border-radius: 6px;
        padding: 25px;
        height: 46%;
        align-items: center;
        display: grid;
    }

    button {
        border-radius: 4px !important;
    }

    .membership-text {
        color: #fff;
        font-size: 1.6rem;
    }

    .yellow-membership-text {
        color: #000;
        font-size: 1.6rem;
    }

    .amount-text {
        color: #fff;
        font-size: 7rem;
    }

    .yellow-amount-text {
        font-size: 7rem;
    }

    .choose-text {
        color: #fff;
        text-align: left;
    }

    .choose-text2 {
        text-align: left;
        margin-bottom: 0;
    }

    .cards2-container {
        text-align: center;
        height: calc(100% - 72px);
    }

    .cards-container {
        position: relative;
        top: -108px;
    }

    .number-value {
        font-size: 60px;
    }

    .black-background-container {
        opacity: 0.05 !important;
    }

    .background-container {
        height: 200px;
        position: absolute;
        left: -56px;
        width: 182px;
        opacity: 0.3;
        top: -10px;

        img {
            width: 100%;
        }
    }

    .card-slide {
        padding: 0 30px;
    }

    .billing-field {
        border-radius: 4px !important;
        border-color: #DEDEDE;
    }
}