
<ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
        <div class="background-container">
            <img src="assets/imgs/logowhite.png">
        </div>
        <div class="header-container" padding>
            <h4 margin-top margin-bottom class="choose-text">Choose your plan</h4>
        </div>
    
        <ion-slides class="cards-container" [spaceBetween]="-60">
            <ion-slide class="card-slide">
                <ion-card class="days-container" (click)="selectDays(7)">
                    <h1 class="number-value">7</h1>
                    <h3>DAYS FREE</h3>
                </ion-card>
            </ion-slide>
            <ion-slide class="card-slide">
                <ion-card class="days-container" (click)="selectDays(15)">
                    <h1 class="number-value">15</h1>
                    <h3>DAYS FREE</h3>
                </ion-card>
            </ion-slide>
            <ion-slide class="card-slide">
                <ion-card class="days-container" (click)="selectDays(30)">
                    <h1 class="number-value">30</h1>
                    <h3>DAYS FREE</h3>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-slide>
    <ion-slide>
        <div class="background-container black-background-container" *ngIf="isMembership">
            <img src="assets/imgs/logoblack.png">
        </div>
        <div class="header2-container" padding>
            <h4 margin-top class="choose-text2">Choose your plan</h4>
        </div>

        <div class="cards2-container">
            <ion-card class="black-membership" (click)="selectMembership('black')">
                <ion-card-content>
                    <h2 class="membership-text">Black Membership</h2>

                    <h1 class="amount-text">$4.99</h1>
                    <h2 class="membership-text">Per Month</h2>
                </ion-card-content>
            </ion-card>
        
            <ion-card class="yellow-membership" (click)="selectMembership('yellow')">
                <ion-card-content>
                    <h2 class="yellow-membership-text">Yellow Membership</h2>

                    <h1 class="yellow-amount-text">$1.99</h1>
                    <h2 class="yellow-membership-text">Per Month</h2>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="background-container black-background-container" *ngIf="isBilling">
            <img src="assets/imgs/logoblack.png">
        </div>
        <div class="header2-container" padding>
            <h4 margin-top class="choose-text2">Billing</h4>
        </div>
        
        <div class="billing-box">
            <form #billingForm="ngForm">
                <ion-list>
                    <ion-item margin-top class="billing-field">
                        <ion-input [(ngModel)]="billing.nameOnCard" type="text" placeholder="Name on Credit Card" name="name" required></ion-input>
                    </ion-item>
                    <ion-item margin-top class="billing-field">
                        <ion-input [(ngModel)]="billing.cardNumber" type="tel" placeholder="Credit Card Number" name="cardnumber" required></ion-input>
                    </ion-item>
                    <ion-row margin-top>
                        <ion-col class="first-col">
                            <ion-item class="billing-field">
                                <ion-input [(ngModel)]="billing.expiryDate" type="text" placeholder="DD/MM" name="expiration" required></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col class="last-col">
                            <ion-item class="billing-field">
                                <ion-input [(ngModel)]="billing.cvv" type="text" placeholder="CVV" name="cvv" required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-item margin-top class="billing-field">
                        <ion-input [(ngModel)]="billing.address" type="text" placeholder="Billing Address" name="billing" required></ion-input>
                    </ion-item>
                    <ion-item margin-top class="billing-field">
                        <ion-input [(ngModel)]="billing.zipCode" type="text" placeholder="Zip Code" name="zip" required></ion-input>
                    </ion-item>
                    <ion-item margin-top class="billing-field">
                        <ion-input [(ngModel)]="billing.cityCountry" type="text" placeholder="City/Country" name="location" required></ion-input>
                    </ion-item>
                    <div text-center margin-top>
                        <button ion-button class="submit-btn" color="light" type="submit" [disabled]="!billingForm.form.valid" (click)="submitBilling()">Submit</button>
                    </div>
                </ion-list>
            </form>
        </div>
    </ion-slide>
</ion-slides>